celery==5.4.0
channels==4.2.0
cloudinary==1.41.0
dill==0.3.8
dj-database-url==2.3.0
Django==5.1.4
django-amazon-ses==4.0.1
django-embed-video==1.4.10
django-redis==5.4.0
django-redisboard==8.4.0
django-ses==4.3.1
huggingface-hub==0.26.5
pillow==10.4.0
psycopg2==2.9.10
python-decouple==3.8
redis==5.2.1
safetensors==0.4.5
sentence-transformers==3.3.1
stripe==11.3.0
tokenizers==0.21.0
torch==2.5.1
transformers==4.47.0
weasyprint==63.1
whitenoise==6.8.2