{% extends "base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}
{% include "banner/banner.html" %}


<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
            {{ form.title.label }}
        </label>
        {{ form.title }}
        <p class="text-red-500 text-xs italic">{{ form.title.errors }}</p>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            {{ form.description.label }}
        </label>
        {{ form.description }}
        <p class="text-red-500 text-xs italic">{{ form.description.errors }}</p>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="module">
            {{ form.module.label }}
        </label>
        {{ form.module }}
        <p class="text-red-500 text-xs italic">{{ form.module.errors }}</p>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="order">
            {{ form.order.label }}
        </label>
        {{ form.order }}
        <p class="text-red-500 text-xs italic">{{ form.order.errors }}</p>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Save
    </button>
</form>
{% endblock content %}
