{% extends "base.html" %}
{% load static %}
{% block title %}
  Login Page
{% endblock title %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-50 dark:bg-gray-800 py-10">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6 space-y-6 dark:bg-gray-900">
    <!-- Title Section -->
    <p class="text-gray-700 dark:text-gray-300 text-center font-extrabold text-xl">
      Login to Your Account
    </p>

    <!-- Form Section -->
    <form class="space-y-6" method="post">
      {% csrf_token %}
      
      <!-- Email Input -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
        <input type="email" name="email" id="email" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required>
      </div>
      
      <!-- Password Input -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
        <input type="password" name="password" id="password" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      
      <!-- Forgotten Password Link -->
      <div class="text-right">
        <a href="{% url 'password_reset' %}" class="text-sm text-blue-600 hover:underline dark:text-blue-400">Forgotten Password?</a>
      </div>
      
      <!-- Submit Button -->
      <div class="flex items-center justify-between">
        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
          Log In
        </button>
      </div>
      
      <!-- Register Link -->
      <p class="text-sm text-center text-gray-500 dark:text-gray-400">
        Don't have an account? 
        <a href="{% url 'register' %}" class="text-blue-600 font-medium hover:underline dark:text-blue-400">
          Register
          <svg class="w-4 h-4 inline ms-1 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </p>
    </form>
  </div>
</div>
{% endblock content %}
