{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ course.title }} - Watch
{% endblock title %}

{% block content %}
    {% include "banner/banner.html" %}

    <div class="container mx-auto p-5">
        {% if modules %}
            <div class="flex flex-col lg:flex-row">
                <!-- Video Player Section -->
                <div class="lg:w-2/3 p-4 rounded-lg shadow-lg bg-white dark:bg-gray-800">
                    <h2 class="text-xl md:text-2xl border-b py-2 font-semibold text-center mb-4 text-gray-800 dark:text-white">
                        {{ course.title }} - Course
                    </h2>

                    <div class="video-container mb-6">
                        {% if video_embed_html %}
                            {{ video_embed_html|safe }}
                        {% else %}
                            <p class="text-center text-gray-500">Select a video to play.</p>
                        {% endif %}
                    </div>

                    <!-- Tabs Section -->
                    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                            <li class="mr-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 focus:outline-none" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                            </li>
                            <li class="mr-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 focus:outline-none" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
                            </li>
                            <li class="mr-2" role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 focus:outline-none" id="transcripts-tab" data-tabs-target="#transcripts" type="button" role="tab" aria-controls="transcripts" aria-selected="false">Transcripts</button>
                            </li>
                            <li role="presentation">
                                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 focus:outline-none" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
                            </li>
                        </ul>
                    </div>

                    <div id="default-tab-content">
                        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is the Profile tab content.</p>
                        </div>
                        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is the Dashboard tab content.</p>
                        </div>
                        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="transcripts" role="tabpanel" aria-labelledby="transcripts-tab">
                            <div class="border border-gray-300 rounded-lg p-4 bg-gray-50 h-60 overflow-y-auto">
                                <p id="transcript" class="text-gray-700"></p>
                            </div>
                        </div>
                        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is the Contacts tab content.</p>
                        </div>
                    </div>
                </div>

                <!-- Modules Section -->
                <div class="lg:w-1/3 w-full py-2 px-2">
                    <ul class="space-y-2">
                        {% for module in modules %}
                            <li class="bg-white p-2 rounded-lg shadow-md hover:shadow-xl transition duration-300">
                                <button class="text-black hover:underline focus:outline-none" onclick="toggleLessons('lessons-{{ module.id }}')">
                                    <h3 class="text-sm font-bold px-2">{{ module.title }}</h3>
                                </button>
                                <ul id="lessons-{{ module.id }}" class="hidden space-y-2">
                                    {% for lesson in lessons %}
                                        {% if lesson.module == module %}
                                            <li>
                                                {% for video in lesson.videos.all %}
                                                    <div class="flex items-center p-2 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer">
                                                        <input id="radio-video-{{ video.id }}" name="video-radio" type="radio" value="{{ video.video_url }}" class="mr-2" onchange="playVideo(this)">
                                                        <label for="radio-video-{{ video.id }}" class="cursor-pointer text-sm font-semibold">{{ video.title }}</label>
                                                        
                                                    </div>
                                                {% endfor %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% empty %}
                            <li>No modules available.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p>No modules, lessons, or videos found.</p>
        {% endif %}
    </div>

{% endblock content %}
