{% extends "instructor/base.html" %}


{% block content_dashboard %}
<!-- Top Header -->
<header class="flex justify-between items-center mb-6  shadow-md">
    <h2 class="text-base font-semibold m-4 ">Instructor Dashboard</h2>
    
</header>

<!-- Overview Cards -->
{% include "instructor/components/dashboard.html" %}



<!-- Courses Managed -->
<div class="relative">


{% include "instructor/components/courses.html" %}


<!-- Recent Enrollments -->
{% include "instructor/components/enrollements.html" %}


<!-- Feedback Section -->
<section>
    <h2 class="text-2xl font-semibold mb-4">Recent Feedback</h2>
    <div class="bg-white shadow-md rounded-lg p-4">
        <p class="font-semibold">"Great course! Very informative."</p>
        <p class="text-gray-500">- Student Name</p>
        <hr class="my-2">
        <p class="font-semibold">"The content was well-organized and engaging."</p>
        <p class="text-gray-500">- Student Name</p>
    </div>
</section>
</div>
{% endblock content_dashboard %}