{% extends "instructor/base.html" %}
{% load custom_tags %}

{% block content_dashboard %}

<h2 class="text-2xl font-semibold text-center my-5">Step 6: Add a Lesson Video</h2>

<form method="post" enctype="multipart/form-data" class="w-full max-w-lg mx-auto p-5 bg-white rounded shadow-lg">
  {% csrf_token %}
  {{ wizard.management_form }}

  <div class="mb-6">
    {{ form.title.label_tag }}
    {{ form.title|add_class:"w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" }}
  </div>

  <div class="mb-6">
    {{ form.video.label_tag }}
    {{ form.video|add_class:"w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" }}
  </div>

  <button type="submit" class="w-full py-2 bg-blue-500 text-white rounded">

  </button>
  {% endblock %}
